{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Create status' %}{% endblock %}

{% block main %}
  <h1>{% translate 'Create status' %}</h1>
  <form action="{% url 'create_status' %}" method="post">
    {% csrf_token %}

    <div class="mb-3"><label class="form-label" for="id_name">{% translate 'Fist name' %}</label><input
        type="text" name="name"
        maxlength="150"
        class="form-control"
        placeholder="{% translate 'Name' %}" required
        id="id_name"></div>
  <input class="btn btn-outline-secondary my-2" type="submit" value="{% translate 'Create' %}">
  </form>
{% endblock %}