{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% load django_bootstrap5 %}
{% block title %}{% translate 'Registration' %}{% endblock %}

{% block main %}


    <h1>{% translate 'Registration' %}</h1>

    <div class="container wrapper flex-grow-1">


        <form action="{% url 'create_user' %}" method="post">
            {% csrf_token %}

            {% bootstrap_form form %}

            <input class="btn btn-outline-success my-2" type="submit" value="{% translate 'Register' %}">
        </form>
    </div>
{% endblock main %}