{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Users' %}{% endblock %}
{% block main %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1 class="my-4 float-lg-start">{% translate 'Users' %}</h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="fw-bold py-2 px-md-4 text-light">ID</th>
        <th class="fw-bold py-2 px-md-4 text-light">{% translate 'User name' %}</th>
        <th class="fw-bold py-2 px-md-4 text-light">{% translate 'Full name' %}</th>
        <th class="fw-bold py-2 px-md-4 text-light">{% translate 'Date of creation' %}</th>
        <th class="fw-bold py-2 px-md-4 text-light"></th>
      </tr>
      </thead>

      {% for user in users %}
      <tbody>
      <tr>
        <td class="fw-bold py-1 px-md-2 text-light">{{ user.id }}</td>
        <td class="fw-bold py-1 px-md-2 text-light">{{ user.username }}</td>
        <td class="fw-bold py-1 px-md-2 text-light">{{ user.get_full_name }}</td>
        <td class="fw-bold py-1 px-md-2 text-light">{{ user.date_joined }}</td>
        <td class="fw-bold py-1 px-md-2 text-light">
          <a class="" href="{% url 'update_user' user.id %}">{% translate 'Сhange' %}</a>
          <br>
          <a class="" href="{% url 'delete_user' user.id %}">{% translate 'Delete' %}</a>
        </td>
      </tr>
      </tbody>
      {% endfor %}
    </table>
  </main>
</div>
{% endblock main %}