{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Create label' %}{% endblock %}

{% block main %}
    <h1>{% translate 'Create label' %}</h1>
    <form action="{% url 'create_label' %}" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="mb-2">{{ field.label }}</div>
            <div>{{ field }}</div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <li class="text-danger">
                        {{ error }}
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <input class="btn btn-outline-success my-2" type="submit" value="{% translate 'Create' %}">
    </form>
{% endblock %}