{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Delete label' %}{% endblock %}

{% block main %}
  <h1 class="my-4 ">{% translate 'Deleting a label' %}</h1>
  <p>{% translate 'Are you sure you want to delete the label' %} {{ object.name }}?</p>

  <form action="{% url 'delete_label' object.id %}" method="post">
    {% csrf_token %}
      {{ form.as_p }}
    <input class="btn btn-outline-danger my-2" type="submit" value="{% translate 'Yes, delete' %}">
  </form>
{% endblock %}