{% load i18n %}
{% load static %}

{% block header %}
<header class="mb-auto">
  <div>
    <nav class="nav nav-masthead justify-content-center float-lg-start">
      <a class="nav-link fw-bold py-2 px-md-4 text-light" aria-current="page" href="{% url 'index' %}">{% translate 'Home' %}</a>
      <a class="nav-link fw-bold py-2 px-md-4 text-white-50" href="{% url 'users' %}">{% translate 'Users' %}</a>
    </nav>
    {% if not request.user.is_authenticated %}
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-2 px-md-3 text-white-50" href="{% url 'login' %}">{% translate 'Entrance' %}</a>
      <a class="nav-link fw-bold py-2 px-md-3 text-white-50" href="{% url 'create_user' %}">{% translate 'Registration' %}</a>
    </nav>
    {% endif %}
    {% if request.user.is_authenticated %}
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-2 px-md-3 text-white-50" href="{% url 'logout' %}">{% translate 'Logout' %}</a>
    </nav>
    {% endif %}

  </div>
</header>
{% endblock header %}