{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Create task' %}{% endblock %}

{% block main %}

  <h1>{% translate 'Create task' %}</h1>
  <form action="{% url 'create_task' %}" method="post">
    {% csrf_token %}

    <div class="mb-3"><label class="form-label" for="id_name">{% translate 'Name' %}</label><input
        type="text" name="name"
        maxlength="150"
        class="form-control"
        placeholder="{% translate 'Name' %}" required
        id="id_name"></div>
    {% if form.errors %}
      <div class="text-danger">{{ form.name.errors }}</div>
    {% endif %}
    <div class="mb-3"><label class="form-label" for="id_description">{% translate 'Description' %}</label><textarea
        name="description"
        cols="40" rows="10"
        class="form-control"
        placeholder={% translate 'Description' %}
            id="id_description"></textarea>
    </div>
    <div class="mb-3"><label class="form-label" for="id_status">{% translate 'Status' %}</label><select name="status"
                                                                                                        class="form-select"
                                                                                                        required
                                                                                                        id="id_status">
      <option value="" selected>---------</option>
      {% for status in statuses %}
        <option value="{{ status.id }}">{{ status.name }}</option>
      {% endfor %}
    </select>
      <div class="mb-3"><label class="form-label" for="id_executor">{% translate 'Executor' %}</label><select
          name="executor"
          class="form-select"
          id="id_executor">
        <option value="" selected>---------</option>
        {% for user in users %}
          <option value="{{ user.id }}">{{ user.get_full_name }}</option>
        {% endfor %}
      </select>
        <div class="mb-3"><label class="form-label" for="id_labels">{% translate 'Tags' %}</label><select name="labels"
                                                                                         class="form-select"
                                                                                         id="id_labels" multiple>
{#          {% for label in labels %}#}
{#          <option value="{{ label.id }}">{{ tag.name }}</option>#}
{#          {% endfor %}#}
        </select>

          <input class="btn btn-outline-secondary my-2" type="submit" value="{% translate 'Create' %}">
        </div>
      </div>
    </div>
  </form>
{% endblock main %}