{% extends 'layout.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Update task' %}{% endblock %}

{% block main %}

    <h1 class="my-4">{% translate 'Update task' %}</h1>
    <form action="{% url 'update_task' object.id %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div class="mb-2">{{ field.label }}</div>
            <div>{{ field }}</div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <li class="text-danger">
                        {{ error }}
                    </li>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <input class="btn btn-outline-success my-2" type="submit" value="{% translate 'Update' %}">
    </form>
{% endblock main %}